@layer components {
  .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    flex: 1;
    border-radius: var(--radius-md);
    padding: 12px;
    background: #f4f4f4;
    box-shadow: rgb(255, 255, 255) 1px 1px 1px 0px inset,
      rgba(0, 0, 0, 0.15) -1px -1px 1px 0px inset,
      rgba(0, 0, 0, 0.26) 0.444584px 0.444584px 0.628737px -1px,
      rgba(0, 0, 0, 0.247) 1.21072px 1.21072px 1.71222px -1.5px,
      rgba(0, 0, 0, 0.23) 2.6583px 2.6583px 3.75941px -2.25px,
      rgba(0, 0, 0, 0.192) 5.90083px 5.90083px 8.34503px -3px,
      rgba(0, 0, 0, 0.056) 10px 10px 21.2132px -3.75px,
      -0.5px -0.5px 0 0 rgb(0 0 0 / 5%);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    user-select: none;
  }

  .Button[data-block] {
    width: 100%;
  }

  .Button[data-disabled] {
    cursor: not-allowed;
  }

  .Button:active,
  .Button[data-selected] {
    box-shadow: inset 0.5px 0.5px 1px #fff, inset -0.5px -0.5px 1px #00000026,
      0.222px 0.222px 0.314px -0.5px #0003,
      0.605px 0.605px 0.856px -1px #0000002e,
      1.329px 1.329px 1.88px -1.5px #00000040,
      2.95px 2.95px 4.172px -2px #0000001a, 2.5px 2.5px 3px -2.5px #00000026,
      -0.5px -0.5px 0 0 rgb(0 0 0 / 10%);
  }

  /* Primary */
  .Button[data-color="primary"] {
    color: #fff;
    background: var(--primary);
    box-shadow: inset 1px 1px 1px #ffffffd4, inset -1px -1px 1px #0000003b,
      0.444584px 0.444584px 0.628737px -1px #00000042,
      1.21072px 1.21072px 1.71222px -1.5px #0000003f,
      2.6583px 2.6583px 3.75941px -2.25px #0000003b,
      5.90083px 5.90083px 8.34503px -3px #00000031,
      10px 10px 21.2132px -3.75px #0000003b, -0.5px -0.5px #952b0087;
  }

  .Button[data-color="primary"]:active,
  .Button[data-color="primary"][data-selected] {
    box-shadow: inset 0.5px 0.5px 1px #fff, inset -0.5px -0.5px 1px #0000005b,
      0.222px 0.222px 0.314px -1px #0003,
      0.605px 0.605px 0.856px -1px #0000002e,
      1.329px 1.329px 1.88px -1.5px #00000040,
      2.95px 2.95px 4.172px -2px #0000001a, 2.5px 2.5px 3px -2.5px #00000026,
      -0.5px -0.5px #00000022;
  }

  /* Secondary */
  .Button[data-color="secondary"] {
    color: #fff;
    background: #222;
    box-shadow: inset 1px 1px 1px #ffffffb3, inset -1px -1px 1px #0000003b,
      0.444584px 0.444584px 0.628737px -0.75px #00000042,
      1.21072px 1.21072px 1.71222px -1.5px #0000003f,
      2.6583px 2.6583px 3.75941px -2.25px #0000003b,
      5.90083px 5.90083px 8.34503px -3px #00000031,
      14px 14px 21.2132px -3.75px #00000033, -0.5px -0.5px #000000af;
  }

  .Button[data-color="secondary"]:active,
  .Button[data-color="secondary"][data-selected] {
    box-shadow: inset 0.5px 0.5px 1px #ffffffb3,
      inset -0.5px -0.5px 1px #0000005b, 0.222px 0.222px 0.314px -1px #0003,
      0.605px 0.605px 0.856px -1px #0000002e,
      1.329px 1.329px 1.88px -1.5px #00000040,
      2.95px 2.95px 4.172px -2px #0000001a, 4px 4px 3px -2.5px #00000026,
      -0.5px -0.5px #000000ac;
  }

  /* Tertiary */
  .Button[data-color="tertiary"] {
    color: #fff;
    background: #6a6a6a;
    box-shadow: inset 1px 1px 1px #ffffffba, inset -1px -1px 1px #0000003b,
      0.444584px 0.444584px 0.628737px -1px #00000042,
      1.21072px 1.21072px 1.71222px -1.5px #0000003f,
      2.6583px 2.6583px 3.75941px -2.25px #0000003b,
      5.90083px 5.90083px 8.34503px -3px #0000004f,
      12px 12px 21.2132px -3.75px #0000001a, -0.5px -0.5px #0000006b;
  }

  .Button[data-color="tertiary"]:active,
  .Button[data-color="tertiary"][data-selected] {
    box-shadow: inset 0.5px 0.5px 1px #ffffffba,
      inset -0.5px -0.5px 1px #0000005b, 0.222px 0.222px 0.314px -1px #0003,
      0.605px 0.605px 0.856px -1px #0000002e,
      1.329px 1.329px 1.88px -1.5px #00000040,
      2.95px 2.95px 4.172px -2px #0000001a, 4px 4px 3px -2.5px #00000026,
      -0.5px -0.5px #0000007b;
  }

  /* Neutral */
  .Button[data-color="neutral"] {
    color: #fff;
    background: #aaa;
    box-shadow: inset 1px 1px 1px #ffffffc2, inset -1px -1px 1px #0000003b,
      0.444584px 0.444584px 0.628737px -1px #00000042,
      1.21072px 1.21072px 1.71222px -1.5px #0000003f,
      2.6583px 2.6583px 3.75941px -2.25px #0000003b,
      5.90083px 5.90083px 8.34503px -3px #00000031,
      10px 10px 21.2132px -3.75px #0000000e, -0.5px -0.5px #00000012;
  }

  .Button[data-color="neutral"]:active,
  .Button[data-color="neutral"][data-selected] {
    box-shadow: inset 0.5px 0.5px 1px #fff, inset -0.5px -0.5px 1px #0000005b,
      0.222px 0.222px 0.314px -1px #0003,
      0.605px 0.605px 0.856px -1px #0000002e,
      1.329px 1.329px 1.88px -1.5px #00000040,
      2.95px 2.95px 4.172px -2px #0000001a, 2.5px 2.5px 3px -2.5px #00000026,
      -0.5px -0.5px #00000022;
  }

  /* LED Indicator */
  .LED {
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 2px #0000001c, 0 1px 0 0px #ffffff30;
    transition: background-color 0.15s ease;
  }

  .Button[data-selected] .LED {
    background: var(--primary);
  }
}
